<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2018-02-27 17:52:49 +0000</string>
	<key>Creator</key>
	<string>Jocelyn Sérot</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>160</integer>
			<key>Points</key>
			<array>
				<string>{152.93359, 591.33203}</string>
				<string>{163.79688, 574.55469}</string>
				<string>{148.97266, 558.51172}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>1.5000001192092896</real>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>157</integer>
			<key>Points</key>
			<array>
				<string>{111.72656, 555.07812}</string>
				<string>{102.8125, 577.50781}</string>
				<string>{117.63672, 594.8125}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>1.5000001192092896</real>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>156</integer>
			<key>Points</key>
			<array>
				<string>{74.082047, 507.69922}</string>
				<string>{109.08203, 519.51953}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>1.6000001430511475</real>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{102.8125, 587.85938}, {62.59375, 58}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>154</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs50 \cf0 B}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{101.20312, 504.58594}, {62.59375, 58}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>153</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs50 \cf0 A}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{43.5625, 489}, {177.875, 175.65625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>152</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>7</real>
					<key>Width</key>
					<real>7</real>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{303.3172, 558.05878}, {10.648905, 25.024923}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>catalog</key>
											<string>System</string>
											<key>name</key>
											<string>alternateSelectedControlColor</string>
										</dict>
										<key>Font</key>
										<string>Chalkduster</string>
										<key>Size</key>
										<real>17</real>
									</dict>
									<key>ID</key>
									<integer>112</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Chalkduster;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf1 e}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Font</key>
										<string>Chalkduster</string>
										<key>Size</key>
										<real>23</real>
									</dict>
									<key>ID</key>
									<integer>113</integer>
									<key>Points</key>
									<array>
										<string>{300.04242, 564.17883}</string>
										<string>{307.40295, 563.60303}</string>
										<string>{317.24078, 563.60303}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>catalog</key>
												<string>System</string>
												<key>name</key>
												<string>alternateSelectedControlTextColor</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>LineType</key>
											<integer>1</integer>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>4</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{303.3172, 533.03375}, {10.648905, 25.024923}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FontInfo</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>catalog</key>
											<string>System</string>
											<key>name</key>
											<string>alternateSelectedControlColor</string>
										</dict>
										<key>Font</key>
										<string>Chalkduster</string>
										<key>Size</key>
										<real>17</real>
									</dict>
									<key>ID</key>
									<integer>114</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Chalkduster;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf1 h}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
							</array>
							<key>ID</key>
							<integer>111</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{235.70702, 538.86615}, {10.648907, 25.024923}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>catalog</key>
									<string>System</string>
									<key>name</key>
									<string>alternateSelectedControlColor</string>
								</dict>
								<key>Font</key>
								<string>Chalkduster</string>
								<key>Size</key>
								<real>17</real>
							</dict>
							<key>ID</key>
							<integer>115</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Chalkduster;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf1 c}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Chalkduster</string>
								<key>Size</key>
								<real>23</real>
							</dict>
							<key>ID</key>
							<integer>116</integer>
							<key>Points</key>
							<array>
								<string>{241.02112, 485.54688}</string>
								<string>{247.8493, 494.44739}</string>
								<string>{254.71704, 500.49353}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>catalog</key>
										<string>System</string>
										<key>name</key>
										<string>alternateSelectedControlTextColor</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Chalkduster</string>
								<key>Size</key>
								<real>23</real>
							</dict>
							<key>ID</key>
							<integer>117</integer>
							<key>Points</key>
							<array>
								<string>{260.46393, 576.39697}</string>
								<string>{251.46405, 560.38452}</string>
								<string>{258.93704, 542.93329}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>catalog</key>
										<string>System</string>
										<key>name</key>
										<string>alternateSelectedControlTextColor</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>119</integer>
								<key>Position</key>
								<real>0.071097664535045624</real>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Chalkduster</string>
								<key>Size</key>
								<real>23</real>
							</dict>
							<key>ID</key>
							<integer>118</integer>
							<key>Points</key>
							<array>
								<string>{290.26813, 541.12708}</string>
								<string>{292.4151, 544.70966}</string>
								<string>{297.09631, 563.83301}</string>
								<string>{291.19363, 574.80627}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>catalog</key>
										<string>System</string>
										<key>name</key>
										<string>alternateSelectedControlTextColor</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Chalkduster</string>
								<key>Size</key>
								<real>23</real>
							</dict>
							<key>ID</key>
							<integer>119</integer>
							<key>Points</key>
							<array>
								<string>{252.8898, 584.36536}</string>
								<string>{263.90683, 574.80615}</string>
								<string>{284.98523, 576.4223}</string>
								<string>{296.14478, 584.05286}</string>
								<string>{300.63525, 596.112}</string>
								<string>{295.19318, 617.34369}</string>
								<string>{280.2348, 622.70966}</string>
								<string>{266.72403, 623.38354}</string>
								<string>{254.83447, 616.2829}</string>
								<string>{249.78665, 604.90564}</string>
								<string>{249.18561, 595.12854}</string>
								<string>{253.65311, 584.64404}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>catalog</key>
										<string>System</string>
										<key>name</key>
										<string>alternateSelectedControlTextColor</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Chalkduster</string>
								<key>Size</key>
								<real>23</real>
							</dict>
							<key>ID</key>
							<integer>120</integer>
							<key>Points</key>
							<array>
								<string>{251.92374, 506.89447}</string>
								<string>{262.94073, 497.33539}</string>
								<string>{284.32596, 497.33539}</string>
								<string>{295.17865, 506.58197}</string>
								<string>{299.66907, 518.64111}</string>
								<string>{293.9765, 538.82202}</string>
								<string>{278.70197, 544.32159}</string>
								<string>{268.72693, 544.32159}</string>
								<string>{253.86838, 538.81207}</string>
								<string>{248.82056, 527.43481}</string>
								<string>{248.21948, 517.65778}</string>
								<string>{252.68703, 507.17316}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>catalog</key>
										<string>System</string>
										<key>name</key>
										<string>alternateSelectedControlTextColor</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>110</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{268.25482, 579.42767}, {13.311136, 28.752037}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>catalog</key>
							<string>System</string>
							<key>name</key>
							<string>alternateSelectedControlColor</string>
						</dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>22</real>
					</dict>
					<key>ID</key>
					<integer>121</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Chalkduster;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs44 \cf1 B}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{267.72241, 502.12747}, {14.37602, 28.752037}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>catalog</key>
							<string>System</string>
							<key>name</key>
							<string>alternateSelectedControlColor</string>
						</dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>22</real>
					</dict>
					<key>ID</key>
					<integer>122</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Chalkduster;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs44 \cf1 A}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>23</real>
					</dict>
					<key>ID</key>
					<integer>123</integer>
					<key>Points</key>
					<array>
						<string>{248.21948, 500.72986}</string>
						<string>{254.717, 500.49359}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>alternateSelectedControlTextColor</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>23</real>
					</dict>
					<key>ID</key>
					<integer>124</integer>
					<key>Points</key>
					<array>
						<string>{254.71695, 500.4935}</string>
						<string>{252.34383, 494.80426}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>alternateSelectedControlTextColor</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>23</real>
					</dict>
					<key>ID</key>
					<integer>125</integer>
					<key>Points</key>
					<array>
						<string>{258.4826, 542.7077}</string>
						<string>{251.65437, 546.42853}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>alternateSelectedControlTextColor</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>23</real>
					</dict>
					<key>ID</key>
					<integer>126</integer>
					<key>Points</key>
					<array>
						<string>{258.93707, 542.70782}</string>
						<string>{261.31024, 548.3847}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>alternateSelectedControlTextColor</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>23</real>
					</dict>
					<key>ID</key>
					<integer>127</integer>
					<key>Points</key>
					<array>
						<string>{290.26807, 576.21637}</string>
						<string>{298.33276, 573.71643}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>alternateSelectedControlTextColor</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Chalkduster</string>
						<key>Size</key>
						<real>23</real>
					</dict>
					<key>ID</key>
					<integer>128</integer>
					<key>Points</key>
					<array>
						<string>{290.26813, 575.51044}</string>
						<string>{287.89496, 568.37018}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>catalog</key>
								<string>System</string>
								<key>name</key>
								<string>alternateSelectedControlTextColor</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>109</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{269.28906, 263.5625}, {185.48438, 185.48438}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{65, 391.5}, {120, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande-Bold</string>
				<key>Size</key>
				<real>36</real>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs84 \cf2 VHDL}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{20, 254}, {225, 225}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{286, 143.625}, {168.77344, 50}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande-Bold</string>
				<key>Size</key>
				<real>30</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs84 \cf2 SysC}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{269.28906, 19}, {225, 225}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{74.265625, 139.625}, {35, 58}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande-Bold</string>
				<key>Size</key>
				<real>36</real>
			</dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs96 \cf2 C}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{20, 19}, {225, 225}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.tiff</string>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Calque 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2018-03-01 14:34:37 +0000</string>
	<key>Modifier</key>
	<string>Jocelyn Sérot</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canevas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{152, 0}, {693, 778}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 81}, {544, 608}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canevas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
