.DS_Store
*~
*.byte
*.native
*.cmi
*.cmo
_build/
CHANGES.html
README.html
HOWTO
TODO
config
config-stamp
*.dvi
*.pdf
docs/user_manual/*
!docs/user_manual/rfsm_um.pdf
docs/ref_manual/*
!docs/ref_manual/rfsm_rm.pdf
*.aux
*.log
*.rel
*.cf
Info.plist
examples/others/
examples/std/*/Makefile
examples/std/*/*/Makefile
examples/*/*/rfsm.output
examples/*/*/*/rfsm.output
examples/std/{multi,single}/*/ctask/
examples/std/{multi,single}/*/{ctask,sim,systemc,vhdl}/*
!examples/std/{multi,single}/*/{sim,systemc,vhdl}/*.{gtkw,sav}
*.dot
*.o
*.vcd
*.merlin
HOWTO-PUBLISH
src/guests/run_regression_tests
src/guests/std/tests/server/qt/client/client.app/
src/guests/std/tests/server/qt/client/moc_*
src/guests/std/tests/server/obsolete/
