.DS_Store
*~
*.byte
*.native
*.cmi
*.cmo
_build/
CHANGES.html
README.html
HOWTO
TODO
config
config-stamp
*.dvi
*.pdf
*.aux
*.log
*.rel
*.cf
Info.plist
examples/others/
examples/tofix/
examples/scxmlcc/
examples/*/*/Makefile
examples/*/*/*/Makefile
examples/*/*/rfsm.output
examples/*/*/*/rfsm.output
examples/*/*/dot/
examples/*/*/sim/
examples/*/*/ctask/
examples/*/*/systemc/
examples/*/*/vhdl/
examples/*/*/*/dot/
examples/*/*/*/ctask/
examples/*/*/*/sim/
examples/*/*/*/systemc/
examples/*/*/*/vhdl/
!examples/*/*/sim/*.gtkw
!examples/*/*/sim/*.sav
!examples/*/*/systemc/*.{gtkw,sav}
!examples/*/*/vhdl/*.{gtkw,sav}
!examples/*/*/*/sim/*.gtkw
!examples/*/*/*/sim/*.sav
!examples/*/*/*/systemc/*.{gtkw,sav}
!examples/*/*/*/vhdl/*.{gtkw,sav}
examples/*/*/ml/dot/
examples/*/*/*/ml/dot/
tests/
lib/ml/
*.dot
*.o
*.vcd
*.merlin
